<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.growpix">

    <!-- 권한 및 특성들 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name=".KakaoApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Growpix">

    <!-- 앱의 시작 화면 설정 -->
    <activity
        android:name=".Intro"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".Diagnosis" />
    <activity android:name=".Diagnosiscamera" />
        <activity android:name=".Login" />
    <activity android:name=".Main" />
    <activity android:name=".Management" />
    <activity android:name=".Managementcamera" />
    <activity android:name=".Signup" />
    <activity android:name=".Splash_diagnosis" />
    <activity android:name=".Splash_management" />
    <activity android:name=".Strawberry" />
        <activity android:name=".Strawberrygrow"/>
    <activity android:name=".Strawberry_nutrition" />
    <activity android:name=".Tomato" />
    <activity android:name=".Tomato_nutrition" />
    <activity android:name=".Tomatogrow" />
    <activity android:name=".History" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao244cf9e9002f9f5774fad0fb400915b4" />
            </intent-filter>
        </activity>
</application>
    </manifest>
